.about-header {
  letter-spacing: 0.3rem;
  font-size: 30px;
}

.about {
  letter-spacing: 0.2rem;
  font-size: 22px;
  max-width: 80%;
  margin: 0 auto;
}

.paragraph {
  font-size: 20px;
}

.form {
  width: 70vw;
  margin-bottom: 1.5rem;
}

.rank {
  font-size: 20px;
}

.center {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}

.head {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .form {
    width: 95vw;
    margin-bottom: 1.5rem;
  }

  .about,
  .about-header {
    letter-spacing: 0.1rem;
  }

  .about-header {
    font-size: 22px;
  }

  .about {
    font-size: 16px;
  }

  .paragraph {
    font-size: 14px;
  }

  .rank {
    font-size: 14px;
  }
}

@media only screen and (max-width: 499px) {
  .head {
    width: 90%;
  }
}
