body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cinzel", serif;
  letter-spacing: 1.5px;
  background-color: #cdcdcf;
  background-image: linear-gradient(to right, #cecece, #9d9ddc, #7474ae);
  text-align: center;
}
